.app {
    font-family: Arial, sans-serif;
  }
  
  .layout {
    display: flex;
  }
  
  .content {
    margin: 10px;
    padding: 10px;
    flex: 1;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .chart {
    margin: 20px 0;
  }
  